<a href="https://colab.research.google.com/github/TJcollector/DatabaseProject/blob/main/Clinic_Management_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clinic Management System

Creating tables with fabricated info as an example display.

In [1]:
import sqlite3

conn = sqlite3.connect('clinic_management_system.db')
cursor = conn.cursor()

create_tables_sql = """
-- Table 1: Patient
CREATE TABLE IF NOT EXISTS Patient (
    PatientID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    DateOfBirth TEXT,
    Gender TEXT,
    ContactInfo TEXT,
    Address TEXT,
    MedicalHistory TEXT
);

-- Table 2: Doctor
CREATE TABLE IF NOT EXISTS Doctor (
    DoctorID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    Specialization TEXT,
    ContactInfo TEXT,
    Availability TEXT
);

-- Table 3: Staff
CREATE TABLE IF NOT EXISTS Staff (
    StaffID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    Role TEXT,
    ContactInfo TEXT,
    BranchID INTEGER,
    FOREIGN KEY (BranchID) REFERENCES Branch(BranchID)
);

-- Table 4: Appointment
CREATE TABLE IF NOT EXISTS Appointment (
    AppointmentID INTEGER PRIMARY KEY,
    PatientID INTEGER,
    DoctorID INTEGER,
    BranchID INTEGER,
    Date TEXT,
    Time TEXT,
    Status TEXT,
    FOREIGN KEY (PatientID) REFERENCES Patient(PatientID),
    FOREIGN KEY (DoctorID) REFERENCES Doctor(DoctorID),
    FOREIGN KEY (BranchID) REFERENCES Branch(BranchID)
);

-- Table 5: Bills
CREATE TABLE IF NOT EXISTS Bills (
    BillID INTEGER PRIMARY KEY,
    AppointmentID INTEGER,
    TestID INTEGER,
    Amount REAL,
    PaymentStatus TEXT,
    DateOfPayment TEXT,
    FOREIGN KEY (AppointmentID) REFERENCES Appointment(AppointmentID),
    FOREIGN KEY (TestID) REFERENCES MedicalTest(TestID)
);

-- Table 6: MedicalTest
CREATE TABLE IF NOT EXISTS MedicalTest (
    TestID INTEGER PRIMARY KEY,
    PatientID INTEGER,
    DoctorID INTEGER,
    BranchID INTEGER,
    TestName TEXT,
    TestDate TEXT,
    TestResults TEXT,
    TestStatus TEXT,
    FOREIGN KEY (PatientID) REFERENCES Patient(PatientID),
    FOREIGN KEY (DoctorID) REFERENCES Doctor(DoctorID),
    FOREIGN KEY (BranchID) REFERENCES Branch(BranchID)
);

-- Table 7: Branch
CREATE TABLE IF NOT EXISTS Branch (
    BranchID INTEGER PRIMARY KEY,
    BranchName TEXT,
    Address TEXT,
    ContactInfo TEXT
);

-- Table 8: MedicationInventory
CREATE TABLE IF NOT EXISTS MedicationInventory (
    MedicationID INTEGER PRIMARY KEY,
    MedicationName TEXT,
    BranchID INTEGER,
    StockQuantity INTEGER,
    ExpirationDate TEXT
);

-- Table 9: Prescription
CREATE TABLE IF NOT EXISTS Prescription (
    PrescriptionID INTEGER PRIMARY KEY,
    PatientID INTEGER,
    DoctorID INTEGER,
    MedicationID INTEGER,
    DateIssued TEXT,
    Dosage TEXT,
    Duration TEXT,
    FOREIGN KEY (PatientID) REFERENCES Patient(PatientID),
    FOREIGN KEY (DoctorID) REFERENCES Doctor(DoctorID),
    FOREIGN KEY (MedicationID) REFERENCES MedicationInventory(MedicationID)
);
"""

cursor.executescript(create_tables_sql)
conn.commit()

cursor.execute('''
    INSERT INTO Patient (PatientID, FirstName, LastName, DateOfBirth, Gender, ContactInfo, Address, MedicalHistory)
    VALUES
    (1, 'John', 'Doe', '1980-05-15', 'Male', '123-456-7890', 'Wolf Street 29', 'Diabetes'),
    (2, 'Jane', 'Smith', '1990-08-25', 'Female', '987-654-3210', 'Beckninghamn Palace', 'Asthma'),
    (3, 'Alice', 'Johnson', '1975-03-10', 'Female', '555-123-4567', '45 Riverdale Arkansas', 'Hypertension');
''')

cursor.execute('''
    INSERT INTO Doctor (DoctorID, FirstName, LastName, Specialization, ContactInfo, Availability)
    VALUES
    (1, 'Dr. Emily', 'Williams', 'Cardiologist', '111-222-3333', 'Yes'),
    (2, 'Dr. David', 'Brown', 'Pediatrician', '444-555-6666', 'No'),
    (3, 'Dr. Linda', 'Miller', 'Dermatologist', '777-888-9999', 'Yes');
''')

cursor.execute('''
    INSERT INTO Staff (StaffID, FirstName, LastName, Role, ContactInfo, BranchID)
    VALUES
    (1, 'Mark', 'Lee', 'Nurse', '333-444-5555', 1),
    (2, 'Rachel', 'Taylor', 'Receptionist', '666-777-8888', 2),
    (3, 'Sophia', 'Harris', 'Administrator', '999-000-1111', 3);
''')

cursor.execute('''
    INSERT INTO Appointment (AppointmentID, PatientID, DoctorID, BranchID, Date, Time, Status)
    VALUES
    (1, 8, 85, 6, '2024-12-05', '09:00', 'Scheduled'),
    (2, 4, 27, 5, '2024-12-06', '14:00', 'Completed'),
    (3, 45, 953, 9, '2024-12-07', '11:30', 'Cancelled');
''')

cursor.execute('''
    INSERT INTO Bills (BillID, AppointmentID, TestID, Amount, PaymentStatus, DateOfPayment)
    VALUES
    (1, 65, 1, 150.00, 'Paid', '2024-12-05'),
    (2, 32, 2, 200.00, 'Pending', '2024-12-06'),
    (3, 93, 3, 250.00, 'Paid', '2024-12-07');
''')

cursor.execute('''
    INSERT INTO MedicalTest (TestID, PatientID, DoctorID, BranchID, TestName, TestDate, TestResults, TestStatus)
    VALUES
    (1, 345, 9, 3, 'Blood Pressure Test', '2024-12-05', 'Normal', 'Completed'),
    (2, 89, 6, 5, 'Chest X-ray', '2024-12-06', 'No Issues', 'Pending'),
    (3, 285, 8, 6, 'Skin Biopsy', '2024-12-07', 'Benign', 'Completed');
''')

cursor.execute('''
    INSERT INTO Branch (BranchID, BranchName, Address, ContactInfo)
    VALUES
    (1, 'Downtown Clinic', '123 Main St, City', '111-000-2222'),
    (2, 'Westside Clinic', '456 Elm St, City', '333-000-4444'),
    (3, 'Eastside Clinic', '789 Oak St, City', '555-000-6666');
''')

cursor.execute('''
    INSERT INTO MedicationInventory (MedicationID, BranchID, MedicationName, StockQuantity, ExpirationDate)
    VALUES
    (1, 5, 'Aspirin', 500, '2025-06-30'),
    (2, 9, 'Ibuprofen', 300, '2024-12-15'),
    (3, 4, 'Amoxicillin', 100, '2026-01-10');
''')

cursor.execute('''
    INSERT INTO Prescription (PrescriptionID, PatientID, DoctorID, MedicationID, DateIssued, Dosage, Duration)
    VALUES
    (1, 7, 97, 13, '2024-12-05', '1 tablet daily', '7 days'),
    (2, 26, 72, 42, '2024-12-06', '2 tablets daily', '5 days'),
    (3, 41, 33, 63, '2024-12-07', '1 capsule twice a day', '10 days');
''')

conn.commit()
conn.close()
print("Tables created successfully.")

Tables created successfully.

# Le Tables

In [3]:
import sqlite3
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

conn = sqlite3.connect('clinic_management_system.db')
cursor = conn.cursor()

tables = [
    "Patient",
    "Doctor",
    "Staff",
    "Appointment",
    "Bills",
    "MedicalTest",
    "Branch",
    "MedicationInventory",
    "Prescription"
]

for table in tables:
    print(f"Contents of {table}:")
    query = f"SELECT * FROM {table};"
    cursor.execute(query)
    rows = cursor.fetchall()
    column_names = [description[0] for description in cursor.description]
    df = pd.DataFrame(rows, columns=column_names)
    print(df)
    print("\n" + "="*50 + "\n")

conn.close()

Contents of Patient:
   PatientID FirstName LastName DateOfBirth  Gender   ContactInfo                Address MedicalHistory
0          1      John      Doe  1980-05-15    Male  123-456-7890         Wolf Street 29       Diabetes
1          2      Jane    Smith  1990-08-25  Female  987-654-3210    Beckninghamn Palace         Asthma
2          3     Alice  Johnson  1975-03-10  Female  555-123-4567  45 Riverdale Arkansas   Hypertension

==================================================

Contents of Doctor:
   DoctorID  FirstName  LastName Specialization   ContactInfo Availability
0         1  Dr. Emily  Williams   Cardiologist  111-222-3333          Yes
1         2  Dr. David     Brown   Pediatrician  444-555-6666           No
2         3  Dr. Linda    Miller  Dermatologist  777-888-9999          Yes

==================================================

Contents of Staff:
   StaffID FirstName LastName           Role   ContactInfo  BranchID
0        1      Mark      Lee          Nurse  333-444-5555         1
1        2    Rachel   Taylor   Receptionist  666-777-8888         2
2        3    Sophia   Harris  Administrator  999-000-1111         3

==================================================

Contents of Appointment:
   AppointmentID  PatientID  DoctorID  BranchID        Date   Time     Status
0              1          8        85         6  2024-12-05  09:00  Scheduled
1              2          4        27         5  2024-12-06  14:00  Completed
2              3         45       953         9  2024-12-07  11:30  Cancelled

==================================================

Contents of Bills:
   BillID  AppointmentID  TestID  Amount PaymentStatus DateOfPayment
0       1             65       1   150.0          Paid    2024-12-05
1       2             32       2   200.0       Pending    2024-12-06
2       3             93       3   250.0          Paid    2024-12-07

==================================================

Contents of MedicalTest:
   TestID  PatientID  DoctorID  BranchID             TestName    TestDate TestResults TestStatus
0       1        345         9         3  Blood Pressure Test  2024-12-05      Normal  Completed
1       2         89         6         5          Chest X-ray  2024-12-06   No Issues    Pending
2       3        285         8         6          Skin Biopsy  2024-12-07      Benign  Completed

==================================================

Contents of Branch:
   BranchID       BranchName            Address   ContactInfo
0         1  Downtown Clinic  123 Main St, City  111-000-2222
1         2  Westside Clinic   456 Elm St, City  333-000-4444
2         3  Eastside Clinic   789 Oak St, City  555-000-6666

==================================================

Contents of MedicationInventory:
   MedicationID MedicationName  BranchID  StockQuantity ExpirationDate
0             1        Aspirin         5            500     2025-06-30
1             2      Ibuprofen         9            300     2024-12-15
2             3    Amoxicillin         4            100     2026-01-10

==================================================

Contents of Prescription:
   PrescriptionID  PatientID  DoctorID  MedicationID  DateIssued                 Dosage Duration
0               1          7        97            13  2024-12-05         1 tablet daily   7 days
1               2         26        72            42  2024-12-06        2 tablets daily   5 days
2               3         41        33            63  2024-12-07  1 capsule twice a day  10 days

==================================================

**UNF**

This is UNF from combining 9 tables

In [6]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('clinic_management_system.db')
cursor = conn.cursor()

unf_query = """
SELECT
    Patient.PatientID,
    Patient.FirstName AS PatientFirstName,
    Patient.LastName AS PatientLastName,
    Patient.DateOfBirth,
    Patient.Gender,
    Patient.ContactInfo AS PatientContact,
    Patient.Address AS PatientAddress,
    Patient.MedicalHistory,
    Doctor.DoctorID,
    Doctor.FirstName AS DoctorFirstName,
    Doctor.LastName AS DoctorLastName,
    Doctor.Specialization,
    Doctor.ContactInfo AS DoctorContact,
    Doctor.Availability,
    Staff.StaffID,
    Staff.FirstName AS StaffFirstName,
    Staff.LastName AS StaffLastName,
    Staff.Role,
    Staff.ContactInfo AS StaffContact,
    Branch.BranchID,
    Branch.BranchName,
    Branch.Address AS BranchAddress,
    Branch.ContactInfo AS BranchContact,
    Appointment.AppointmentID,
    Appointment.Date AS AppointmentDate,
    Appointment.Time AS AppointmentTime,
    Appointment.Status AS AppointmentStatus,
    Bills.BillID,
    Bills.Amount AS BillAmount,
    Bills.PaymentStatus,
    Bills.DateOfPayment,
    MedicalTest.TestID,
    MedicalTest.TestName,
    MedicalTest.TestDate,
    MedicalTest.TestResults,
    MedicalTest.TestStatus,
    MedicationInventory.MedicationID,
    MedicationInventory.MedicationName,
    MedicationInventory.StockQuantity,
    MedicationInventory.ExpirationDate,
    Prescription.PrescriptionID,
    Prescription.DateIssued,
    Prescription.Dosage,
    Prescription.Duration
FROM
    Patient
LEFT JOIN Appointment ON Patient.PatientID = Appointment.PatientID
LEFT JOIN Doctor ON Appointment.DoctorID = Doctor.DoctorID
LEFT JOIN Branch ON Appointment.BranchID = Branch.BranchID
LEFT JOIN Staff ON Staff.BranchID = Branch.BranchID
LEFT JOIN Bills ON Appointment.AppointmentID = Bills.AppointmentID
LEFT JOIN MedicalTest ON Bills.TestID = MedicalTest.TestID
LEFT JOIN Prescription ON Patient.PatientID = Prescription.PatientID
LEFT JOIN MedicationInventory ON Prescription.MedicationID = MedicationInventory.MedicationID;
"""

cursor.execute(unf_query)
unf_rows = cursor.fetchall()

columns = [desc[0] for desc in cursor.description]
unf_table = pd.DataFrame(unf_rows, columns=columns)

print("Unnormalized Form (UNF) Table:")
print(unf_table)
unf_table.to_csv("unf_table.csv", index=False)
print("UNF table created and saved as 'unf_table.csv'")

Unnormalized Form (UNF) Table:
   PatientID PatientFirstName PatientLastName DateOfBirth  Gender PatientContact         PatientAddress MedicalHistory DoctorID DoctorFirstName DoctorLastName Specialization DoctorContact Availability StaffID StaffFirstName StaffLastName  Role StaffContact BranchID BranchName BranchAddress BranchContact AppointmentID AppointmentDate AppointmentTime AppointmentStatus BillID BillAmount PaymentStatus DateOfPayment TestID TestName TestDate TestResults TestStatus MedicationID MedicationName StockQuantity ExpirationDate PrescriptionID DateIssued Dosage Duration
0          1             John             Doe  1980-05-15    Male   123-456-7890         Wolf Street 29       Diabetes     None            None           None           None          None         None    None           None          None  None         None     None       None          None          None          None            None            None              None   None       None          None          None   None     None     None        None       None         None           None          None           None           None       None   None     None
1          2             Jane           Smith  1990-08-25  Female   987-654-3210    Beckninghamn Palace         Asthma     None            None           None           None          None         None    None           None          None  None         None     None       None          None          None          None            None            None              None   None       None          None          None   None     None     None        None       None         None           None          None           None           None       None   None     None
2          3            Alice         Johnson  1975-03-10  Female   555-123-4567  45 Riverdale Arkansas   Hypertension     None            None           None           None          None         None    None           None          None  None         None     None       None          None          None          None            None            None              None   None       None          None          None   None     None     None        None       None         None           None          None           None           None       None   None     None
UNF table created and saved as 'unf_table.csv'

However my values are all single so there wont be a difference between UNF and 1NF. So I made a replica of the UNF but made Medical history multiple valued.

In [29]:
import sqlite3

conn = sqlite3.connect('patients.db')
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS Patient_UNF (
    PatientID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    MedicalHistory TEXT,  -- Multivalued
    ContactInfo TEXT,     -- Multivalued
    Address TEXT
);
""")

cursor.execute("DELETE FROM Patient_UNF;")
cursor.execute("""
INSERT INTO Patient_UNF (PatientID, FirstName, LastName, MedicalHistory, ContactInfo, Address)
VALUES
    (1, 'John', 'Doe', 'Diabetes, Hypertension', '123-456-7890, 987-654-3210', 'Wolf Street 29'),
    (2, 'Jane', 'Smith', 'Asthma, Allergy', '111-222-3333', 'Beckninghamn Palace'),
    (3, 'Alice', 'Johnson', 'Hypertension', '555-123-4567', '45 Riverdale Arkansas');
""")
conn.commit()

cursor.execute("SELECT * FROM Patient_UNF;")
unf_data = cursor.fetchall()

print("Patient_UNF Table (in original format):")
for row in unf_data:
    print(row)

conn.close()

Patient_UNF Table (in original format):
(1, 'John', 'Doe', 'Diabetes, Hypertension', '123-456-7890, 987-654-3210', 'Wolf Street 29')
(2, 'Jane', 'Smith', 'Asthma, Allergy', '111-222-3333', 'Beckninghamn Palace')
(3, 'Alice', 'Johnson', 'Hypertension', '555-123-4567', '45 Riverdale Arkansas')

**1NF**

In [30]:
import sqlite3

conn = sqlite3.connect('patients.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS Patient_1NF;")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Patient_1NF (
    PatientID INTEGER,
    FirstName TEXT,
    LastName TEXT,
    MedicalHistory TEXT,
    ContactInfo TEXT,
    Address TEXT
);
""")

cursor.execute("DELETE FROM Patient_1NF;")

patient_data = [
    (1, 'John', 'Doe', 'Diabetes, Hypertension', '123-456-7890, 987-654-3210', 'Wolf Street 29'),
    (2, 'Jane', 'Smith', 'Asthma, Allergy', '111-222-3333', 'Beckninghamn Palace'),
    (3, 'Alice', 'Johnson', 'Hypertension', '555-123-4567', '45 Riverdale Arkansas')
]

for patient in patient_data:
    patient_id, first_name, last_name, medical_history, contact_info, address = patient

    medical_history_values = medical_history.split(', ')
    contact_info_values = contact_info.split(', ')

    for medical in medical_history_values:
        for contact in contact_info_values:
            cursor.execute("""
            INSERT INTO Patient_1NF (PatientID, FirstName, LastName, MedicalHistory, ContactInfo, Address)
            VALUES (?, ?, ?, ?, ?, ?)
            """, (patient_id, first_name, last_name, medical, contact, address))

conn.commit()

cursor.execute("SELECT * FROM Patient_1NF;")
print("Patient_1NF Table:")
for row in cursor.fetchall():
    print(row)

conn.close()

Patient_1NF Table:
(1, 'John', 'Doe', 'Diabetes', '123-456-7890', 'Wolf Street 29')
(1, 'John', 'Doe', 'Diabetes', '987-654-3210', 'Wolf Street 29')
(1, 'John', 'Doe', 'Hypertension', '123-456-7890', 'Wolf Street 29')
(1, 'John', 'Doe', 'Hypertension', '987-654-3210', 'Wolf Street 29')
(2, 'Jane', 'Smith', 'Asthma', '111-222-3333', 'Beckninghamn Palace')
(2, 'Jane', 'Smith', 'Allergy', '111-222-3333', 'Beckninghamn Palace')
(3, 'Alice', 'Johnson', 'Hypertension', '555-123-4567', '45 Riverdale Arkansas')

**2NF**

In 1NF, we split multivalued attributes like MedicalHistory and ContactInfo into separate rows.
In 2NF, we remove partial dependencies. This means we separate attributes that depend only on a part of the primary key.
Here, the table already has a single-column primary key (PatientID), so weâ€™ll focus on ensuring there are no partial dependencies.

In [33]:
import sqlite3

conn = sqlite3.connect('patients.db')
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS Patient_2NF (
    PatientID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    Address TEXT
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS MedicalHistory_2NF (
    PatientID INTEGER,
    MedicalHistory TEXT,
    FOREIGN KEY (PatientID) REFERENCES Patient_2NF(PatientID)
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS ContactInfo_2NF (
    PatientID INTEGER,
    ContactInfo TEXT,
    FOREIGN KEY (PatientID) REFERENCES Patient_2NF(PatientID)
);
""")

cursor.execute("DELETE FROM Patient_2NF;")
cursor.execute("DELETE FROM MedicalHistory_2NF;")
cursor.execute("DELETE FROM ContactInfo_2NF;")

cursor.execute("""
INSERT INTO Patient_2NF (PatientID, FirstName, LastName, Address)
SELECT DISTINCT PatientID, FirstName, LastName, Address FROM Patient_UNF;
""")

cursor.execute("SELECT PatientID, MedicalHistory FROM Patient_UNF;")
medical_rows = cursor.fetchall()
for row in medical_rows:
    patient_id, medical_history = row
    medical_history_values = medical_history.split(", ")
    for medical in medical_history_values:
        cursor.execute("""
        INSERT INTO MedicalHistory_2NF (PatientID, MedicalHistory)
        VALUES (?, ?);
        """, (patient_id, medical))

cursor.execute("SELECT PatientID, ContactInfo FROM Patient_UNF;")
contact_rows = cursor.fetchall()
for row in contact_rows:
    patient_id, contact_info = row
    contact_info_values = contact_info.split(", ")
    for contact in contact_info_values:
        cursor.execute("""
        INSERT INTO ContactInfo_2NF (PatientID, ContactInfo)
        VALUES (?, ?);
        """, (patient_id, contact))

conn.commit()

cursor.execute("SELECT * FROM Patient_2NF;")
print("Patient_2NF Table:")
print(cursor.fetchall())

cursor.execute("SELECT * FROM MedicalHistory_2NF;")
print("MedicalHistory_2NF Table:")
print(cursor.fetchall())

cursor.execute("SELECT * FROM ContactInfo_2NF;")
print("ContactInfo_2NF Table:")
print(cursor.fetchall())

conn.close()

Patient_2NF Table:
[(1, 'John', 'Doe', 'Wolf Street 29'), (2, 'Jane', 'Smith', 'Beckninghamn Palace'), (3, 'Alice', 'Johnson', '45 Riverdale Arkansas')]
MedicalHistory_2NF Table:
[(1, 'Diabetes'), (1, 'Hypertension'), (2, 'Asthma'), (2, 'Allergy'), (3, 'Hypertension')]
ContactInfo_2NF Table:
[(1, '123-456-7890'), (1, '987-654-3210'), (2, '111-222-3333'), (3, '555-123-4567')]

The output for 3NF will be very similar to 2NF, as there are no additional non-prime attributes that require further normalization. The schema is already in its final form.